<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="108.4.13" targetFramework="net48" />
  <package id="cef.redist.x86" version="108.4.13" targetFramework="net48" />
  <package id="CefSharp.Common" version="108.4.130" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="108.4.130" targetFramework="net48" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net48" />
  <package id="Svg" version="2.4.3" targetFramework="net48" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net48" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net48" />
</packages>